[DEFAULT]
debug = false

[server:main] # this section is for development only
use = egg:Paste#http
host = 0.0.0.0
port = 80

[app:main]
use = egg:ecop#main

pyramid.debug_notfound = false
pyramid.debug_routematch = false

sqlalchemy.url = postgresql://hmweb:hmweb@localhost/homemaster
sqlalchemy.echo = false

rabbitmq.url = amqp://guest:guest@localhost:5672

redis.web.url = redis://localhost:6379/0
# the default pool size of redis.py
redis.web.max_connections = 50

elasticsearch.hosts = ['localhost']

cors.allow_origin = http://webtest.homemaster.cn

ecop.version = 5
ecop.asset_url = http://webtest.homemaster.cn:8080
ecop.auth_token_timeout = 1200
ecop.canonical_url = http://webtest.homemaster.cn
# image shall be cached by CDN
ecop.image_url = http://images.homemaster.cn
ecop.image_bucket = hm-image
# delay time in minutes since the scanning of a package and its processing
ecop.package_scan_delay = 7200

# this is the test oss account
aliyun.oss.key = 3eCRB2RcAtZXigM7
aliyun.oss.secret = AzwV4brml9QPayaj90VXOdYzrSpc8p
aliyun.oss.end_point = http://oss-cn-hangzhou.aliyuncs.com

# test account for Wechat Media Platform
wechat.mp.appid = wx7d003872b18489c2
wechat.mp.appsecret = 95edc74502c5191fe3ff2eae8df284ea
wechat.mp.token = 2bd8198d31a3044c34f7c05eac9c9acf

###
# logging configuration
###

[loggers]
keys = root, sqlalchemy, alipay, wepay, weixin, requests

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[logger_alipay]
level = INFO
handlers =
qualname = alipay

[logger_wepay]
level = DEBUG
handlers =
qualname = wepay

[logger_weixin]
level = DEBUG
handlers =
qualname = weixin

[logger_requests]
level = WARN
handlers =
qualname = requests

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s